/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --image: url(../images/cover-image-dark.png);
  --font-family: IBM Plex Mono;
  --font-size: 18px;
  --font-size-big: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-size-adaptive: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-weight: 400;
  --font-weight-bold: 700;
  --color-background-theme:#000028;
  --color-letter-theme:#F1B2CE;
  --color-header-theme:#DB00FF;
  --color-shadow-decor-theme:#FF0070;

  @media (prefers-color-scheme: dark) {
    :root {
      --image: './images/cover-image-dark.png';
      --font-family: IBM Plex Mono;
      --font-size: 18px;
      --font-size-big: 157px;
      --font-size-adaptive: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
      --font-weight: 400;
      --font-weight-bold: 700;
      --color-background-theme:#000028;
      --color-letter-theme:#F1B2CE;
      --color-header-theme:#DB00FF;
      --color-shadow-decor-theme:#FF0070;
    }
  }
}

